<!-- <p>
  La cantidad {{ myShoppingCart.length }}
</p>

<p>
  Total: {{ total }}
</p>

<p>
  Today: {{ today | date: 'long' }}
</p>

<p>
  Time Ago: {{ today | timeAgo }}
</p>

<p>
  Another Date: {{ date | date: 'dd-MMMM-yyyy' }}
</p>

<p>
  {{ 'bIenVeNIdo' | uppercase }}
</p> -->

<!-- <button (click)="createNewProduct()">Create</button>
<button (click)="onShowDetail('132123')">Detail not found</button> -->

<div class="products--grid">
  <app-product
    [myProduct]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
    ></app-product>
    <button (click)="onLoadMore()">Load more</button>
</div>

<div class="product-detail" [class.active]="showProductDetail">
  {{ statusDetail }}
  <div *ngIf="productChosen">
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{ productChosen.title }}</h1>

    <swiper [slidesPerView]="1">
      <ng-template swiperSlide *ngFor="let img of productChosen.images">
        <img [src]="img" alt="imágen de producto">
      </ng-template>
    </swiper>

    <p>{{ productChosen.description }}</p>
    <button (click)="updateProduct()">Edit</button>
    <button (click)="deleteProduct()">Delete</button>
  </div>
</div>
